@import "tailwindcss";




/* -------------------------------------------------- */
@font-face {
    font-family: yekan;
    src: url("/src/assets/font/yekan-font/yekan-regular.woff");
    src: url("/src/assets/font/yekan-font/yekan-regular.ttf");
}

* {
    font-family: yekan;
    box-sizing: border-box;
    transition: ease 1s all;
}

button , a{
    cursor: pointer;
}